<h1>Show TODO</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category.capitalize %>
</p>

<p>
  <strong>Reviews:</strong>
  <%= @restaurant.category.capitalize %>
</p>

<hr>

<%= link_to 'Back', restaurants_path %>
<%= link_to 'Add new review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>